# Dependency directories
node_modules/
/crm-importer/frontend/node_modules/
/crm-importer/backend/node_modules/

# Next.js build output
.next/
/crm-importer/frontend/.next/

# Environmental variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/crm-importer/backend/.env

# Logs
*.log
